html {
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
  font-size: 16px;
}

body {
  background-image: url("../images/maze.png");
  margin: auto;
  max-width: 46em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 50px;
  hyphens: auto;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

@font-face {
  font-family: DejaVu;
  src: "fonts/DejaVuSerif.ttf";
}

@media (max-width: 600px) {
  body {
    font-size: 0.9em;
    padding: 1em;
  }
}

@media print {
  body {
    background-color: transparent;
    color: black;
    font-size: 12pt;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }
}

p {
  margin: 1em 0;
  text-indent: 50px;
}

/*a {
  color: #1a1a1a;
}*/

/*a:visited {
  color: #1a1a1a;
}*/

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.4em;
}

h5,
h6 {
  font-size: 1em;
  font-style: italic;
}

h6 {
  font-weight: normal;
}

ol,
ul {
  padding-left: 1.7em;
  margin-top: 1em;
}

li > ol,
li > ul {
  margin-top: 0;
}

blockquote {
  margin: 1em 0 1em 1.7em;
  padding-left: 1em;
  border-left: 2px solid #e6e6e6;
  color: #606060;
}

code {
  font-family: Menlo, Monaco, "Lucida Console", Consolas, monospace;
  font-size: 85%;
  margin: 0;
}

pre {
  margin: 1em 0;
  overflow: auto;
}

pre code {
  padding: 0;
  overflow: visible;
}

.sourceCode {
  background-color: transparent;
  overflow: visible;
}

hr {
  background-color: #1a1a1a;
  border: none;
  height: 1px;
  margin: 1em 0;
}

table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
  display: block;
  font-variant-numeric: lining-nums tabular-nums;
}

table caption {
  margin-bottom: 0.75em;
}

tbody {
  margin-top: 0.5em;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}

th {
  border-top: 1px solid #1a1a1a;
  padding: 0.25em 0.5em 0.25em 0.5em;
}

td {
  padding: 0.125em 0.5em 0.25em 0.5em;
}

header {
  padding: 5%;
  border: lightblue;
  background-color: lightblue;
  text-align: center;
  /*color: black;*/
  margin-bottom: 0;
}

.moldura {
  margin-top: 5%;
  box-shadow: 2px 0px 15px 0px #1a1a1a;
  padding: 5%;
  background-color: #fff;
}

#TOC li {
  list-style: none;
}

#TOC a:not(:hover) {
  text-decoration: none;
}

code {
  white-space: pre-wrap;
}

span.smallcaps {
  font-variant: small-caps;
}

span.underline {
  text-decoration: underline;
}

div.column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

div.hanging-indent {
  margin-left: 1.5em;
  text-indent: -1.5em;
}

ul.task-list {
  list-style: none;
}

.img {
  text-align: center;
}

.semparagraph {
  text-indent: 0px;
}

.footnotes {
  font-size: 12px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.2fr;
  grid-gap: 15px;
  text-align: center;
  grid-template-areas:
    "fig1 fig2"
    "legenda legenda";
}

#figunica {
  height: 550px;
}

#fig1 {
  grid-area: fig1;
}

#fig2 {
  grid-area: fig2;
}

#legenda {
  grid-area: legenda;
}


/*Aqui vai a configuração da barra de menu*/
nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  background-color: #101010;
  z-index: 20;
  padding: 0 5%;
}

nav .homelogo {
  float: left;
  color: white;
  width: 40%;
  height: 100%;
  align-items: center;
  display: flex;
}

nav .homelinks {
  float: right;
  padding: 0;
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .homelinks li {
  list-style: none;
}

nav .homelinks a {
  display: block;
  padding: 1em;
  font-size: 18px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.homedropdown {
  position: absolute;
  visibility: hidden;
  width: 100%;
}

nav ul li:hover {
    background: lightblue;
    border-radius: 5px;
    color:#000;
  }

#nav-toggle {
  position: absolute;
  top: -100%;
}

nav .home-icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .home-icon-burger .line {
  width: 30px;
  height: 5px;
  margin: 5px;
  background-color: #fff;
  border-radius: 5px;
}

nav ul li:hover .homedropdown {
    position: absolute;
    visibility: visible;
    background: black;
    width:max-content;
    height: auto;
    padding-right: 37px;
}



@media screen and (max-width: 750px) {
  body {
    background-image: url("#");
    padding: 10%;
  }

  .moldura {
    margin-top: 2%;
    box-shadow: 0px 0px 0px 0px #fff;
    padding: 3%;
  }

  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.2fr;
    grid-template-areas:
      "fig1"
      "fig2"
      "legenda";
  }

  #figunica {
    height: 400px;
    text-align: center;
  }

  #fioinf {
    text-align: center;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  #planoinf {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #cap1fig1 {
    max-height: 150px;
  }

  #cap1fig2 {
    max-height: 350px;
    text-align: center;
  }
/*Aqui vai a configuração da barra de menu para cel.*/
  nav{
    height: 50px;
    width: auto;
  }

  nav .homelogo {
    float: none;
    width: auto;
    justify-content: center;
  }

  nav .homelinks {
    float: none;
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 100%;
    background-color:lightblue;
    flex-direction: column;
    width: auto;
    height: auto;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  nav .homelinks a {
    font-size: 20px;
  }

  nav .home-icon-burger {
    display: block;
    float: right;
  }

  nav :checked ~ .homelinks {
    bottom: 0;
  }

  nav ul li:hover .homedropdown {
    visibility: visible;
    background: lightblue;
    position: relative;
    width: auto;
    height: auto;
    color: #101010;
  }

}

#cap1fig1 {
  height: 300px;
  text-align: center;
}

#cap1fig2 {
  height: 500px;
  text-align: center;
}

#fioinf {
  text-align: center;
  max-height: 170px;
  margin-left: auto;
  margin-right: auto;
}

#planoinf {
  text-align: center;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
}







